# pillow
# flask
# flask_cors
# scikit-image
# scikit-learn
# joblib
# tensorflow
# fastapi
# uvicorn

tensorflow==2.18.0
numpy
h5py>=3.10.0
pillow
scikit-image
scikit-learn
joblib
fastapi
uvicorn
flask
flask_cors
